body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.main {
    height: 700px;
    background-image: url(/app/images/background.jpg);
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width:1000px){
   #container {
    height: 700px;
    width: 1000px;
    margin: 0 auto;
}
}

.header {
    margin-top: 0px;
    width: 1000px;
    width: 100%;
}

.logo {
    height: 80px;
    width: 80px;
    float: left;
    margin-top: 10px;
}

nav {
    float: right;
    margin-top: 25px;
}

.navbar {
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.navbar:hover {
    text-decoration: underline;
}

span {
    width: 100%;
}

h1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    clear: both;
    padding-top: 200px;
}

h2 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    clear: both;
    margin-top: -60px;
}

/* Heeader section */

#head {
    width: 100%;
    height: 350px;
    background-image: url(/app/images/header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.port {
    padding-top: 75px;
}

.portfolio {
    width: 300px;
    height: 250px;
}
.padding {
    padding-left: 45px;
}

.one {
    margin-top: 45px;
}
.two {
    margin-top: 45px;
}

.three {
    margin-top: 45px;
}
.four {
    margin-top: 45px;
}

/* TESMONIAL SECTION */

p.name {
    color: #cccccc;
    font-size: 20px;
}
/* footer */
footer {
    width: 100%;
    height: 450px;
    background-color: #183951;
    margin-top: 500px;
}

#foot {
    width: 1000px;
    height: 100%;
    margin:  0 auto;
}

h3 {
    color: #ffffff;
    text-align: center;
}

#image-social{
    width: 70px;
    height: 70px;
}

div.social {
    float: left;
    margin-top: 20px;
}

a.social {
    margin-right: 50px;
}

div.contact {
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}

label {
    color: #ffffff;
}

input.text {
    height: 20px;
    width: 250px;
    border-radius: 3px;
    border: none;
}

textarea {
    resize: none;
}

textarea.message {
    height: 100px;
    width: 250px;
    border-radius: 3px;
    border: none;
}

input.submit {
    width: 60px;
    height: 30px;
    background-color: #ffffff;
    color: #183951;
    border: none;
    border-radius: 3px;
}

input.submit:hover {
    text-decoration: underline;
}

/* portfolio page */

.sidebar {
    width: 250px;
    float: left;
}

.navigation {
    overflow: hidden;
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}

.navigation .navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation .navigation-item {
    border-top: 2px solid #3ba8c0;
    margin: 0 11px;
}

.navigation .navigation-item:first-child {
    border-top: none;
}

.navigation .navigation-item.current {
    background: #3bA8C0;
    margin: 0;
    border-bottom: none;
    padding-left: 11px;
    margin-bottom: -2px;
}

.navigation .navigation-item.current .navigation-link {
    color: #f9fafb;
    font-size: 22px;
}

.navigation .navigation-link {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #959aa8;
    margin-left: 16px;
    padding: 20px 0px;
}

.navigation .navigation-item:hover {
    color: #3ba8c0;
}

/* portfolio page section*/

.variable-content {
    width: 650px;
    float: right;
}

.aboutbox {
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}

.aboutbox .aboutbox-header {
    font-size: 27px;
    font-weight: normal;
    color: #3ba8c0;
    border-bottom: 2px #3ba8c0 solid;
    margin: 0 0 23px 0;
    padding: 13px 23px;
    display: inline-block;
}

.aboutbox-body {
    padding-bottom: 40px;
}

.image-wrap{
    float: left;
    margin-left: 55px;
    margin-top: 18px;
}

.aboutbox .worksheet-wrap {
    float: right;
    width: 400px;
}

.worksheet-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.worksheet-info {
    float: left;
    margin-left: 25px;
    max-width: 260px;
}

.worksheet-item {
    margin-bottom: 8px;
}

.worksheet-what {
    font-size: 16px;
    float: left;
}

.worksheet-info {
    font-size: 15px;
    overflow: hidden;
    max-width: 218px;
}






























