
.variable-content {
	width: 645px;
	float:right;
	margin-left: 0px;
	/*margin-top: 34px;*/
}

.aboutbox {
	width: 100%;
    padding-top: 30;
    margin-bottom: 60;
}

.aboutbox-header {
		 -moz-box-sizing: border-box;
       box-sizing: border-box;
	/*width: 100%;*/
	font-family: open_sans_semibold;
	color: #eeedec;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	margin-bottom: 0px;
	border: 1px solid #9c9c9c;
	min-height: 53px;
	border-radius: 5px 5px 0 0;
	background: rgb(168,167,167);
    text-align: center;
    font-size: 27;
    box-shadow: inset rgba(252,255,255,.7) 0 0.5px 3px;
 }

.aboutbox-body {
   -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-top: 0;
	width: 100%;
	background: #f1efee;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0.5px 5px #c4c4c4;
	padding-top: 25px;
    text-align: center;
	padding-bottom: 250px;
    height: 350px;
}

.avatar {
	width: 130px;
	height: auto;
}
.avatar-box{
	overflow: hidden;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 9px solid #f5f4f2;
	box-shadow: 0 0 0.5px #000;
}
.image-wrap{
	margin-top: 20px;
	margin-left: 40px;
}


.image-wrap {
	float: left;

	margin-bottom: 40px;
}

.worksheet-wrap {
	float:right;
	width: 435px;
	margin-top: -9px;
	margin-right: 20px;
	font-size: 0.9em;
}
.worksheet-item{

	color: #727070;
	margin-bottom: 4.2px;
}

.worksheet-item:last-child {
	margin-top: 20px;
}

.worksheet-list{
	text-decoration: none;
	list-style: none;
}

.worksheet-what {
	vertical-align: top;
    font-family: open_sans_semibold;
    float: left;
	display: inline-block;
}

.worksheet-info {
	font-family: open_sans_regular;
	display: inline-block;
}

.skill-list{
	display: inline-block;
	margin-left: -30px;
	width: 330px;
	height: auto;
}
.skill-item {
	display: inline;
	margin-right: 5px;

}
.aboutbox-list{
	margin:0px;
	padding: 0px;
	list-style: none;
	font-size: 0.9em;
	margin-top: 15px;
}

.aboutbox-item {
	padding-left: 135px;
	margin-bottom: 40px;
	min-height: 55px;

}
.aboutbox-item.icon-work{
background: url(../images/working.png) no-repeat;
background-position: 40px -2px;
}
.aboutbox-item.icon-college{
background: url(../images/study_one.png) no-repeat;
background-position: 40px -2px;
}
.aboutbox-item.icon-college.last{
background: url(../images/study_one.png) no-repeat;
background-position: 40px -2px;
}
.where {
	font-family: open_sans_semibold;
	color:  #727070;
	font-size: 18px;

}
.period {
	font-family: open_sans_regular;
	color:  #727070;
	font-size: 18px;
}

.company {
	font-family: open_sans_regular;
	color:  #727070;
	font-size: 18px;
}

