body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.main {
    height: 700px;
    background-image: url(images/background.jpg);
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    height: 700px;
    width: 1000px;
    margin: 0 auto;
}

.header {
    margin-top: 0;
    width: 100%;
}

.logo {
    height: 80px;
    width: 80px;
    float: left;
    margin-top: 10px;
}

nav {
    float: right;
    margin-top: 25px;
}

.navbar {
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.navbar:hover {
    text-decoration: underline;
}

span {
    width: 100%;
}

h1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    clear: both;
    padding-top: 200px;
}

h2 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    clear: both;
    margin-top: -60px;
}



